<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="userSettings" type="ConfigPoc.UserSection, ConfigPoc" />
  </configSections>

  <userSettings firstName="John"
                lastName="Doe"
                lastVisited="March 30 2016"
                credits="10,203,405"
                message="Hi $(firstName) $(lastName),
your last visit was on $(lastVisited),
your current credit is $(credits)!">
  </userSettings>

</configuration>