<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="userSection" type="ConfigPoc.UserSection, ConfigPoc" />
  </configSections>

  <userSection application="FOO"
               version="1.0">
    <user name="$(firstName) $(lastName)"
          firstName="John"
          lastName="Doe"
          lastVisited="1/1/2016"
          credits="1020304">
      <messages welcome="Welcome $(name) to $(application) v$(version)!"
                info="You last visited on $(lastVisited \@ MMMM dd yyyy), you have $(credits \# #,###) credits left." />
    </user>
    
    <user name="$(firstName) $(lastName)"
          firstName="Jane"
          lastName="Doe"
          lastVisited="2/2/2016"
          credits="5060708">
      <messages welcome="Hi $(name), welcome to $(application) (currrent version $(version))!"
                info="Last visit was on $(lastVisited \@ dd. MM. yyyy.), current credits is $(credits \# 000M 000K 000)." />
    </user>
  </userSection>

</configuration>