<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="UserSettings" type="ConfigPoc.Tests.UserSection, ConfigPoc.Tests" />
    <section name="UserFileSettings" type="ConfigPoc.Tests.UserFileSection, ConfigPoc.Tests" />
    <section name="UserBankSettings" type="ConfigPoc.Tests.UserBankSection, ConfigPoc.Tests" />
    <section name="UserProfileSettings" type="ConfigPoc.Tests.UserProfileSection, ConfigPoc.Tests" />
  </configSections>

  <!-- BasicPlaceholderTests -->
  <UserSettings Application="MY APP"
                Version="1.0">
    <User FullName="$(FirstName) $(LastName)"
          FirstName="John"
          LastName="Doe"
          WelcomeMessage="Hello $(FullName), welcome to $(Application) v$(Version)!" />
  </UserSettings>

  <!-- BasicPlaceholderTests -->
  <UserFileSettings Root="C:\Users\John\">
    <Files Documents="$(Root)Documents\"
           Videos="$(MissingProperty)\$(AnotherMissingProperty)Videos\">
      <File Path="$(Documents)Word.docx" />
      <File Path="$(Documents)Excel.xlsx" />
      <File Path="$(Documents)PowerPoint.pptx" />
    </Files>
  </UserFileSettings>

  <!-- AdvancePlaceholderTests -->
  <UserBankSettings Name="MY BANK">
    <Account Name="MY ACCOUNT"
             Balance="10200"
             Expiration="1/10/2000"
             Creation="Five Years Ago">
      <Display Name="Your account name is $(Name)."
               State="Your account balance is $(Balance \# $ #,##0.00)."
               Update="Your account expires on $(Expiration \@ dd MMMM yyyy)."
               MissingDateValue="Your account was created on $(Creation \@ dd/MM/yyyy)"/>
    </Account>
  </UserBankSettings>

  <!-- AdvancePlaceholderTests -->
  <appSettings>
    <add key="Facebook" value="https://www.facebook.com/" />
    <add key="Twitter"  value="https://twitter.com/" />
    <add key="CurrentDate" value="1/1/2020"/>
  </appSettings>

  <UserProfileSettings Name="john_doe_profile">
    <SocialMedias>
      <SocialMedia Location="@(Facebook)$(Name)"/>
      <SocialMedia Location="@(Twitter)$(Name)"/>
    </SocialMedias>
    <Blog Location="@(MissingAppKey)$(Name)"
          Posts="12"
          PostsMessage="There are total of $(Posts) posts until @(CurrentDate \@ yyyy)."/>
  </UserProfileSettings>
  
</configuration>